[submodule "tax-flow"]
	path = tax-flow
	url = https://github.com/ced-2017-capstone/tax-flow
	branch = master
[submodule "LuxChain"]
	path = LuxChain
	url = https://github.com/archatul/LuxChain
[submodule "ced-capstone"]
	path = ced-capstone
	url = https://github.com/redhio/ced-capstone
	branch = master
[submodule "Homeward"]
	path = Homeward
	url = https://github.com/shaguftasayani/Homeward
	branch = master
